@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

body{
    font-family: 'Maven Pro', sans-serif;
}

.container-header {
    padding: 1rem 0;
    background-image: linear-gradient(90deg,#128c7e, #25d366);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.container-header a{
    text-decoration: none;
}

.container-header img{
    margin-left: 25px;
    width: 48px;
}

.container-header h1{
    color: #fff;
    font-size: 16pt;
    padding-left: 15px;
}

.navegacao{
    justify-self: right;
}

.navegacao ul{
    list-style: none;
    display: flex;
    padding-right: 1rem;

}

.navegacao ul li{
    padding: 0 20px;
    cursor: pointer;
}

.navegacao a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

.navegacao a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}

.menu-navegacao{
    background-image: linear-gradient(90deg,#128c7e, #25d366);
    height: 200vh;
    width: 100vw;
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 5rem;
}

.cabecalho-navegacao{
    background-image: url(../images/background/gerador-de-link-para-whatsapp.png);
    background-size: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.menu-navegacao .whatsapp-logo{
    width: 48px;
    position: fixed;
    top: 18px;
    left: 25px;
}

.menu-navegacao button{
    position: fixed;
    right: 35px;
    top: 25px;
    background-color: unset;
    border: 0;
}

.menu-navegacao button img{
    width: 30px;
}

.menu-navegacao ul{
    margin: 10px 0;
    list-style: none;

}

.menu-navegacao ul li{
    width: 90vw;
    padding: 15px 0;
    border-bottom: solid 1px #128c7e;
}

.menu-navegacao ul li a{
    text-decoration: none;
    color: #fff;
}

.container-header button{
    background-color: unset;
    border: 0;
    padding-right: 25px;
    cursor: pointer;
    display: none;
}

.index{
    background-image: url(../images/background/gerador-de-link-para-whatsapp.png);
    background-position: 50%;
    background-size: 100vw;
}

main {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    z-index: -2;

}

.site {
    display: flex;
    justify-content: space-around;
}

.principal{
    margin: 15px 0;
    width: 40rem;
    display: flex;
    align-self: center; 
    flex-direction: column;
}

.principal li {
    margin-left: 20px;
}

.celular{
    position: relative;
}

.cell-container{
    position: relative;
}

.celular #cell{
    margin-top: 30px;
    width: 22rem;
    position: relative;
    z-index: 2;
}

.celular .back{
    position: absolute;
    top: 30px;
    left: 60px;
    z-index: 0;
}

#detail1 {
    position: absolute;
    width: 10em;
    bottom: 30px;
    left: 10px;
    z-index: 3;
}

.wpp-header{
    background-color: #0a5b52;
    position: relative;
    top: 14px;
    width: 14.5rem;
    height: 3.5rem;
}

.wpp-header img{
    width: 30px;
    position: relative;
    left: 15px;
    top: 20px;
    border-radius: 100%;
}

.wpp-header p{
    font-weight: 900;
    font-size: 11pt;
    color: #fff;
    position: relative;
    left: 50px;
    bottom: 10px;
    text-decoration: none;
}

.celular #wallpaper{
    width: 15.2rem;
    border-radius: 0 0 10% 10%;
}

.balao-fala{
    position: relative; 
    bottom: 45px; 
    left: 85px; 
    width: 36px; 
    min-height: 36px;
}

#balao-fala-wpp{
    color: #707070;
    position: absolute;
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    min-height: 20px;
    max-height: 220px;
    width: 160px;
    border-radius:10px;
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
    bottom: 45px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

#balao-fala-wpp::-webkit-scrollbar { 
    display: none;
}

.balao-fala:after {
    position: absolute;
    display: block;
    content: "";  
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom: 45px;
    left: 168px;
}


.input-mensagem, .input-numero, .input-link{ 
    background-color: white;
    display: flex;
    margin: 15px;
    padding: 5px;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 5px;
    height: 3em;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.input-link { 
    display: none !important;
}

.input-mensagem input, .input-numero input, .input-link input{
    padding-top: 0.1rem;
    margin-left: 2.8rem;
    border: inset 0 ;
    outline: 0;
    cursor: pointer;
    font-size: 12pt;
}

.input-mensagem label, .input-numero label, .input-link label {
    cursor: pointer;
}

.input-mensagem p, .input-numero p, .input-link p{
    font-size: 8pt;
    margin-left: 2.8rem;
    margin-top: 8px;
    color: #adadad;
}

.input-mensagem label::before{
    content: "";
    margin: 10px;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/gerador-de-link-para-whatsapp\(2\).png);
    position: absolute;
    top: 9px;
}

.input-numero label::before{
    content: "";
    margin: 10px;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/gerador-de-link-para-whatsapp\(4\).png);
    position: absolute;
    top: 9px;
}

.input-link label::before{
    content: "";
    margin: 10px;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/gerador-de-link-para-whatsapp\(1\).png);
    position: absolute;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    font-weight: 600;
    font-size: 18pt;
    margin: 10px;
    background-image: linear-gradient(90deg,#128c7e, #25d366);
    color: #fff;
    border: unset;
    border-radius: 90px;
    width: 12em;
    height: 3em;
    cursor: pointer;
    transition: 250ms;
}

.botao:hover{
    background-color: #035a4f;
    background-image: linear-gradient(90deg,#0a6e61, #16b851);
}

#botao-gerar-outro, #botao-copiar-link{
    font-size: 16pt;
    width: 13em;
    display: none;
}

.link-copiado{
color: #fff;
margin: 0 146px;
display: none;
}

.aviso {
    text-align: center;
    color: #ffffff;
    font-size: 10pt;
}

.erro{
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ff0000;
    color: #fff;
    position: fixed;
    bottom: 0; 
    transition: 1s;
    z-index: 9999;
}

.explicacao{
    margin: 50px 5%;
    margin-bottom: 0;
    position: relative;
}

.explicacao h2{
    color: #ffffff;
    margin: 0;

}

.explicacao ol{
    margin-left: 25px;
    color: #25d366;
    font-size: 18pt;
    font-style: oblique;
    font-weight: bolder;
}

.explicacao li p{
    color: #ffffff;
    font-size: 15pt;
    font-style: normal;
    font-weight: normal;

}

.explicacao span {
    text-decoration: none;
    font-weight: 600;
}

.explicacao h3{
    font-size: 15pt;
    font-weight: normal;
    margin: 20px 0;
    color: #ffffff;
    font-style: italic;
}

.descricao {
    display: inline;
    text-align: center;
    font-size: 10pt;
    padding: auto;
}

.descricao p {
    color: #fff;
    margin: 0 3% 2%;
}

.rodape {
    background-color: #1C1E21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.rodape h5{
    margin-top: 10px;
    color: #fff;
    margin-left: 20px;
    font-size: 10pt;
}

.rodape ul{
    cursor: pointer;
    list-style: none;
    margin: 10px;
    display: flex;
}

.rodape ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
    margin: 6px;
}

@media screen and (max-width: 1090px) {
    .container-header button{
        display: block;
    }
    .navegacao ul{
        list-style: none;
        display: none;
        padding-right: 1rem;
    }
    .celular #cell{
        width: 20rem;
    }
    
    .celular .back{
        top: 30px;
        left: 55px;
    }
    
    .wpp-header{
        width: 13rem;
        height: 3.4rem;
    }

    .wpp-header img{
        width: 28px;
        top: 17px;

    }
    
    .celular #wallpaper{
        width: 13.7rem;
    }
    
    .balao-fala{
        bottom: 45px; 
        left: 75px; 
    }
    
    #balao-fala-wpp{
        width: 150px;
}
    
    .balao-fala:after {
        left: 160px;
}

    .wpp-header p{
        bottom: 12px;
    }

    #wpp-header-online{
        bottom: 11px;
        font-size: 8pt;
    }
}

@media screen and (max-width: 782px ) {
    .principal{
        width: 90%;
    }

    main {
        height: initial;
    }
    .input-mensagem, .input-numero,     .input-link { 
        margin: 15px;
    }

    .botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .botoes img{
        width: 8rem;
    }

    .botao{
        font-size: 16pt;
        width: 12em;
        height: 2.5em;
    }
    
    
    .index {
        background-position: 50%;
        background-size: 200vw;
    }

}

@media screen and (max-width: 719px ) {
    .site {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 833px) and (min-width: 828px) {
    #detail1{
        bottom: 50px
    }
    
}

@media screen and (max-width: 828px) and (min-width: 720px) {
    #detail1{
        bottom: 60px
    }
    
}

.index {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2em);
}

.input-pais{
    
}

.select{
    background-color: white;
    display: flex;
    margin: 15px;
    padding: 5px;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 5px;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}